body {
  background-color: #eee;
}

button:hover {
  cursor: pointer;
}

.header-container {
  background-color: #4c2676;
  color: white;
}

.nav-bar {
  display: flex;
  align-items: center;
  height: 53px;
}

.nav-bar .nav-bar-title {
  margin-right: 2rem;
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  color: white;
}

.nav-bar .nav-bar-entries #entries-anchor {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.body-container {
  background-color: #eee;
  padding-bottom: 1rem;
}

.body-container img {
  width: 100%;
}

.entry-column {
  line-height: 3;
}

.entry-column label {
  display: block;
}

.entry-column input {
  display: block;
  width: 100%;
  border-radius: 4px;
  line-height: 2.5;
  border: 1px solid #b6b6b7;
}

.notes-column {
  line-height: 2;
}

.notes-column #notes {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #b6b6b7;
}

.notes-column label {
  display: block;
}

.save-button-wrapper {
  text-align: end;
}

.save-button-wrapper input {
  background-color: #4c2676;
  border-style: none;
  border-radius: 4px;
  color: white;
  padding: 0.5rem 1rem;
}

.save-button-wrapper input:hover {
  cursor: pointer;
}

.title-row {
  justify-content: space-between;
  align-items: center;
}

.title-row button {
  background-color: #4c2676;
  border-style: none;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.entries-list-container ul {
  padding-inline-start: 0;
}

.entries-list li {
  list-style-type: none;
  list-style-position: outside;
}

.entries-list .entries-image-wrapper {
  width: 50%;
  text-align: center;
}

.entries-list .entries-image-wrapper img {
  max-height: 400px;
  width: auto;
  max-width: 100%;
}
